<h2>All Events Listed Here!</h2>
<br>
<br>
<h3>Events in the Past:</h3>
<%= render partial: '/display_events', locals: {events_to_display: @events.past, link_single_events: true } %>
<br>
<br>
<h3>Events in the Future:</h3>
<%= render partial: '/display_events', locals: {events_to_display: @events.future, link_single_events: true } %>